// This is the global WadMaker configuration file.
// Rules in this file are always applied, unless overridden in a local wadmaker.config file.


// Uncommenting the following line will enable Gimp support. You may need to adjust the converter path, depending on where you installed Gimp and which version you're using:
//*.xcf       converter: '"C:\Program Files\GIMP 2\bin\gimp-console-2.10.exe"' arguments: '-nidc -b "(let* ((image (car (gimp-file-load RUN-NONINTERACTIVE """{input_escaped}""" """{input_escaped}"""))) (layer (car (gimp-image-merge-visible-layers image CLIP-TO-IMAGE)))) (gimp-file-save RUN-NONINTERACTIVE image layer """{output_escaped}.png""" """{output_escaped}.png""") (gimp-image-delete image) (gimp-quit 1))"'

// Uncommenting the following 2 lines will enable Aseprite support. You may need to adjust the converter paths, depending on where you installed Aseprite:
//*.ase       converter: '"C:\Program Files (x86)\Steam\steamapps\common\Aseprite\aseprite.exe"' arguments: '-b "{input}" --save-as "{output}.png"'
//*.aseprite  converter: '"C:\Program Files (x86)\Steam\steamapps\common\Aseprite\aseprite.exe"' arguments: '-b "{input}" --save-as "{output}.png"'
